<style>
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        font-family: var(--font-heading-family);
        text-align: center;
    }
    .card {
        width: 320px;
        position: relative;
    }
    .card__image-wrapper {
        width: 100%;
    }
    .card__image-wrapper img {
        width: 100%;
        object-fit: cover;
    }
    .card__info-title h2 {
        font-size: clamp(20px, 2vw, 28px);
        letter-spacing: clamp(2.14px, 0.3vw, 3px);
        text-transform: uppercase;
        margin-block: 28px 15px;
        font-weight: 500;
    }
    .card__info-subtitle h2 {
        font-size: clamp(14px, 2vw, 16px);
        letter-spacing: clamp(0.88px, 0.2vw, 1px);
        margin-block: 0 13px;
        font-weight: 300;
    }
    .card__menu {
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 0;
        margin: 0;
        list-style: none;
        font-family: var(--font-heading-family);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }

    .card__menu-link {
        display: flex;
        align-items: center;
    }

    .card__menu-link a {
        color: #000;
        font-weight: bold;
        letter-spacing: 2px;
        text-underline-offset: 2px;
    }

    /* Add separators */
    .card__menu-link:not(:last-child)::after {
        content: "|";
        margin-left: 16px;
        color: #000;
        font-weight: normal;
    }

    @media screen and (min-width: 1440px) {
        .cards-wrapper {
            gap: 36px;
        }
        .card {
            width: 650px;
        }
        .card__info {
            position: absolute;
            bottom: 0;
            background: #FFFFFF;
            width: 100%;
        }
        .card__info-title h2 {
            margin-block: 46px 23px;
        }
        .card__info-subtitle h2 {
            margin-block: 0 18px;
        }
    }
</style>

<section id="{{ section.id }}" class="page-width">
  <div class="cards-wrapper">
    {% for block in section.blocks %}
      <div class="card card-{{ forloop.index }}">
        <div class="card__image-wrapper">
          <picture>
            <!-- Mobile -->
            <source
              media="(max-width: 600px)"
              srcset="
                {{ block.settings.mobile_image | image_url: width: 400 }} 400w,
                {{ block.settings.mobile_image | image_url: width: 800 }} 800w,
                {{ block.settings.mobile_image | image_url: width: 1200 }} 1200w
              "
              sizes="100vw"
            >

            <!-- Desktop -->
            <source
              media="(min-width: 768px)"
              srcset="
                {{ block.settings.desktop_image | image_url: width: 800 }} 800w,
                {{ block.settings.desktop_image | image_url: width: 1600 }} 1600w,
                {{ block.settings.desktop_image | image_url: width: 2400 }} 2400w,
                {{ block.settings.desktop_image | image_url: width: 3840 }} 3840w
              "
              sizes="100vw"
            >

            <img
              src="{{ block.settings.desktop_image | image_url: width: 1600 }}"
              alt="card"
              class="card__img"
            >
          </picture>
        </div>
        <div class="card__info {% if block.settings.narrow %}false{% endif %}">
          <div class="card__info-title">
            <h2>{{ block.settings.title }}</h2>
          </div>
          <div class="card__info-subtitle">
            <h2>{{ block.settings.subtitle }}</h2>
          </div>
          <div class="card__info-links">
            <ul class="card__menu">
              {% for link in block.settings.menu.links %}
                <li class="card__menu-link">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "two cards test",
  "settings": [],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "mobile image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "desktop image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "card title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "card subtitle"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "card links",
          "info": "use to set links in card"
        },
        {
            "type": "checkbox",
            "id": "narrow",
            "label": "narrow info container",
            "default": false,
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "two cards test"
    }
  ]
}
{% endschema %}
