{{ 'cards-test.css' | asset_url | stylesheet_tag }}

<section id="{{ section.id }}" class="page-width">
  <div class="cards-wrapper">
    {% if section.blocks.size == 2 %}        
        {% for block in section.blocks %}
          <div class="card card-{{ forloop.index }}">
            <div class="card__image-wrapper">
              <picture>
                <!-- Mobile -->
                <source
                  media="(max-width: 600px)"
                  srcset="
                    {{ block.settings.mobile_image | image_url: width: 400 }} 400w,
                    {{ block.settings.mobile_image | image_url: width: 800 }} 800w,
                    {{ block.settings.mobile_image | image_url: width: 1200 }} 1200w
                  "
                  sizes="100vw"
                >
    
                <!-- Desktop -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    {{ block.settings.desktop_image | image_url: width: 800 }} 800w,
                    {{ block.settings.desktop_image | image_url: width: 1600 }} 1600w,
                    {{ block.settings.desktop_image | image_url: width: 2400 }} 2400w,
                    {{ block.settings.desktop_image | image_url: width: 3840 }} 3840w
                  "
                  sizes="100vw"
                >
    
                <img
                  src="{{ block.settings.desktop_image | image_url: width: 1600 }}"
                  alt="card"
                  class="card__img"
                >
              </picture>
            </div>
            <div class="card__info">
              <div class="card__info-title">
                <h2>{{ block.settings.title }}</h2>
              </div>
              <div class="card__info-subtitle">
                <h2>{{ block.settings.subtitle }}</h2>
              </div>
              <div class="card__info-links">
                <ul class="card__menu">
                  {% for link in block.settings.menu.links %}
                    <li class="card__menu-link">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "two cards test",
  "settings": [],
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "mobile image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "desktop image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "card title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "card subtitle"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "card links",
          "info": "use to set links in card"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "two cards test"
    }
  ]
}
{% endschema %}
