<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 27px;
    }
    .heading__image {
        width: 119px;
        display: flex;
    }
    .heading__image a {
        display: flex;
    }
    .heading__image img {
        width: 100%;
        object-fit: cover;
    }
    .header__heading-link,
    .header__inline-menu,
    .header__inline-menu .list-menu {
        margin: 0;
        padding: 0;
    }
    .header__inline-menu {
        display: none;
        height: -webkit-fill-available;
    }
    .header__inline-menu .list-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        list-style: none;
        gap: 20px;
        height: -webkit-fill-available;
    }
    .header__inline-menu .list-menu a {
        color: black;
        text-decoration: none;
    }
    .header__inline-menu .list-menu .menu-link.sale a {
        color: {{ section.settings.sale_color }};
    }
    .account {
        text-decoration: none;
    }
    .account span {
        line-height: normal;
    }
    .account span p {
        margin: 0;
        font-weight: 300;
        color: #4A4A4A;
        text-align: center;
    }
    .account span p:nth-of-type(1) {
        text-decoration: none;
        font-size: 14px;
    }
    .account span p:nth-of-type(2) {
        text-decoration: underline;
        font-size: 12px;
    }
    .header__icons {
        display: flex;
        align-items: end;
        gap: 41px;
    }
    .header__search,
    .account {
        display: none;
    }
    .menu-icon-svg {
        display: flex;
    }
    @media screen and (min-width: 980px) {
        .header {
            padding: 42px 52px;
        }
        .heading__image {
            width: 169px;
        }
        .header__inline-menu {
            display: block;
        }
        .header__inline-menu .list-menu {
            align-items: end;
            gap: 10px;
        }
        .header__search,
        .account {
            display: block;
        }
        .menu-icon-svg {
            display: none;
        }
    }
    @media screen and (min-width: 1440px) {
        .header {
            padding: 42px 52px;
        }
        .heading__image {
            width: 229px;
        }
        .header__inline-menu .list-menu {
            align-items: end;
            gap: 48px;
        }
    }
</style>

<header class="header">
    <span class="menu-icon-svg">
        {% render 'menu-icon' %}
    </span>
    {% case section.settings.heading_logo %}
        {% when 'text' %}            
            <h1 class="header__heading">
                <a href="{{ routes.root_url }}" class="header__heading-link">                
                    <span class="h2">
                        {{ section.settings.heading_text }}
                    </span>  
                </a>
            </h1>
        {% else %}
            <div class="heading__image">
                <a href="{{ routes.root_url }}">
                    <img src="{{ section.settings.heading_image | image_url: width: 400 }}" alt="header logo">
                </a>
            </div>
    {% endcase %}
    <nav class="header__inline-menu">
        <ul class="list-menu">
            {% for link in section.settings.menu.links %}
                <li class="menu-link {{ link.title }}">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                    {% if link.links.size > 0 %}
                        <ul class="menu dropdown-child">
                            {% for child_link in link.links %}
                                <li class="menu-link {{ link.title }}">
                                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                    {% if child_link.links.size > 0 %}
                                        <ul class="menu dropdown-grandchild">
                                            {% for grandchild_link in child_link.links %}
                                                <li class="menu-link {{ link.title }}">
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="header__icons">
        {% render 'header-search', input_id: 'Search-In-Modal' %}
        {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="account"
                rel="nofollow"
            >
                <span class="">
                    {{ section.settings.account }}
                </span>
            </a>
         {%- endif -%}
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
            {% if cart == empty %}
            <span class="svg-wrapper cart">{{ 'test.svg' | inline_asset_content }}</span>
            {% else %}
            <span class="svg-wrapper cart">{{ 'test.svg' | inline_asset_content }}</span>
            {% endif %}
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
            <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
            {%- endif -%}
        </a>
    </div>
</header>

{% schema %}
  {
    "name": "header test",
    "settings": [
        {
            "type": "select",
            "id": "heading_logo",
            "label": "select heading logo type",
            "options": [
                {
                    "value": "text",
                    "label": "text"
                },
                {
                    "value": "image",
                    "label": "image"
                }
            ],
            "default": "text",
            "info": "use to pick between text or image logo"
        },
        {
            "type": "text",
            "id": "heading_text",
            "label": "header logo text",
            "default": "fakestore",
            "info": "use to display a logo text",
            "placeholder": "fakestore"
        },
        {
            "type": "image_picker",
            "id": "heading_image",
            "label": "logo image"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        },
        {
            "type": "color",
            "id": "sale_color",
            "label": "sale color",
            "default": "#FF2500",
            "info": "use to set sale link color"
        },
        {
            "type": "richtext",
            "id": "account",
            "label": "account link text",
            "default": "<p>My Account</p><p>Sign in or Sign up</p>"
        },
    ],
    "blocks": [
      {
        "type": "block_type",
        "name": "Block name",
        "settings": [
          {
            "type": "text",
            "id": "block_setting_id",
            "label": "Block Setting Label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "header test"
      }
    ]
  }
{% endschema %}